@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1290px;
  overflow: hidden;
}

a {
  color: #FFFFFF;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 85px;
  background-color: #111111;
  padding-top: 15px;
  font-weight: 700;
}

.header_top_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-img {
  height: 55px;
}

.nav {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.nav-a {
  color: #ffffff; /* цвет по умолчанию */
  position: relative;
  padding-bottom: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; /* добавляем плавное изменение всем свойствам */
  text-decoration: none; /* убираем подчеркивание */
}

.nav-a:hover {
  color: #1C93FF; /* изменяем цвет при наведении */
  font-size: 1.1em; /* увеличиваем размер текста */
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* добавляем тень */
}

.nav-a.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF; /* использование переменной */
  position: absolute;
  bottom: 0;
  left: 0;
}

.intro {
  padding-top: 100px;
  background-color: #111111;
  min-height: 600px;
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 1.5px;
}

.title_block {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.intro_inner {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
}

.int_btn {
  margin: 30px 0;
}

.news {
  margin-top: 100px;
  font-family: "Raleway", sans-serif;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-main {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 147, 255, 0.75);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.news-content:hover {
  opacity: 1;
}

.news-item {
  margin-left: 20px;
}

.news-data {
  font-size: 14px;
  padding: 10px 0;
}

.news-title {
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

.news-subtitle {
  font-size: 16px;
}

.img-news {
  display: block;
  max-width: 100%;
}

.btn_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_news {
  text-align: center;
  border: 1px solid #111111;
  color: #111111;
  width: 220px;
  border-radius: 5px;
  padding: 14px 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: 30px;
}

.project {
  margin: 100px 0;
}

.project_item {
  margin-top: 40px;
}

.project_h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.project_images {
  max-height: 700px;
  height: 500px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.swiper-container {
  overflow: hidden;
}

.swiper-container {
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

.gallery {
  margin-top: 100px;
  margin-bottom: 200px;
}

.tabs_nav {
  margin: 20px 0;
}

.tabs-btn {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;
  padding: 10px 0;
  position: relative;
}

.tabs-btn:first-child {
  margin-right: 20px;
}

.tabs-btn.active-tabs::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1C93FF; /* Замените на цвет вашего акцента */
  position: absolute;
  bottom: 0;
  left: 0;
}

.gallery-tabs-cadr {
  display: none;
}

.gallery-tabs-cadr.active-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.gallery-cadr-content {
  margin: 10px 0;
}

.gallery-cadr-img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px;
}

.footer {
  padding: 80px 0;
  min-height: 500px;
  background-color: #111111;
}

.logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-footer p {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1rem;
}

.footer_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: "Montserrat", sans-serif;
}

.pagination-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #313131;
  height: 32px;
  line-height: 28px;
  min-height: 32px;
  padding: 2px 8px;
}

.pagination.active {
  color: #111111;
}

.pop_up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.pop_up.active {
  display: block;
}

.pop_up_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.pop_up_body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  width: 700px;
  background-color: #111111;
  border-radius: 10px;
  text-align: center;
  padding: 70px 20px 70px 20px;
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
}

.pop-admin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.pop-role-section {
  margin-bottom: 20px;
}

.pop-role-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pop-role-section label {
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
}
.pop-role-section select {
  margin: 10px 0;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  height: 35px;
  width: 160px;
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: #111111;
}

.pop-section-input-add {
  margin: 10px 0;
}
.pop-section-input-add .pop-title-add-element {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.pop-section-input-add input {
  width: 100%;
  border: 1px solid #91a198;
  border-radius: 3px;
  outline: none !important;
  padding: 10px 10px;
}

.pop-section-add-image {
  margin: 20px 0;
}
.pop-section-add-image input[type=file] {
  display: none;
}
.pop-section-add-image .input-label {
  position: relative;
  border: 2px dashed #FFFFFF;
  border-radius: 3px;
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop-section-image .image-output-popup {
  width: 200px;
  height: 200px;
  position: relative;
}
.pop-section-image .img-popup {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.pop-section-image .delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #000000;
  background-color: white; /* Белый фон */
  font-size: 32px; /* размер иконки удаления */
  font-weight: 500;
  border-radius: 25%; /* Для круглой кнопки */
  cursor: pointer; /* изменение формы курсора при наведении */
}

.btn-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.pop_up-images {
  display: block;
  max-width: 100%;
  height: auto;
}

.pop-section-add-image {
  margin: 10px 10px;
}

.tabel-pop-up-add {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.tabel-pop-up-add tr {
  background-color: #282828;
}

.tabel-pop-up-add tr, .tabel-pop-up-add th, .tabel-pop-up-add td {
  padding: 10px 20px;
  white-space: nowrap;
  text-align: center;
}

.images-td-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.tabel-pop-up-images {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.add-project {
  padding: 100px;
}

.genre {
  padding: 50px 0;
}

.add-project-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.project-section-info-project {
  margin: 20px 0;
}
.project-section-info-project input {
  width: 100%;
  border: 1px solid #91a198;
  border-radius: 3px;
  outline: none !important;
  padding: 10px 10px;
}
.project-section-info-project textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #91a198;
  border-radius: 3px;
  outline: none !important;
  padding: 10px 10px;
  resize: none;
}

.title-add-element {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.project-section-add-image {
  margin: 20px 0;
}
.project-section-add-image input[type=file] {
  display: none;
}
.project-section-add-image .input-label {
  position: relative;
  border: 2px dashed #FFFFFF;
  border-radius: 3px;
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-section-add {
  margin: 20px 0;
}
.project-section-add button {
  width: 100%;
  min-height: 50px;
  margin: 10px 0;
  padding: 5px 50px;
  border: 1px solid #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}
.project-section-add button:hover {
  background-color: #FFFFFF;
}

.comp_date {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* Change border color as needed */
  border-radius: 4px;
}

.comp_time {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* Change border color as needed */
  border-radius: 4px;
}

.number_seria {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* Change border color as needed */
  border-radius: 4px;
}

.project-sector-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 550px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.check-box-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
}
.check-box-project input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  outline: none;
}
.check-box-project label {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.check-box-project input[type=checkbox]::after {
  position: absolute;
  content: "";
  background-color: #111111;
  height: 20px;
  width: 20px;
  top: calc(50% - 10px); /* половина высоты плюс смещение */
  left: calc(50% - 10px); /* половина ширины плюс смещение */
  border-radius: 5px;
  display: none;
}
.check-box-project input[type=checkbox]:hover {
  background-color: #f1eaea;
}
.check-box-project input[type=checkbox]:checked::after {
  display: block;
}

.input-radio input[type=radio] {
  display: none;
}
.input-radio label {
  position: relative;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-radio label::before {
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 20px;
}
.input-radio input[type=radio]:checked + label {
  background-color: #FFFFFF;
  color: #111111;
}
.input-radio input[type=radio]:checked + label::before {
  border: 10px solid #111111;
}

.btn41-43 {
  text-decoration: none;
  padding: 10px 50px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-41 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

.project-section-photo-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project-section-photo-add .btn-add-gallery {
  color: #111111;
  background-color: #FFFFFF;
  padding: 10px 50px;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
}
.project-section-photo-add .btn-add-gallery:hover {
  opacity: 0.9;
}

/*Filter*/
.filter-search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.search-block-filter {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: #111111;
  background-color: #f7f5f5;
  border-radius: 10px;
}
.search-block-filter input {
  margin-left: 10px;
}

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-select select {
  margin: 10px 0;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  height: 40px;
  width: 160px;
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: #111111;
}

.filter-button {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.output-info-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-subtitle-add {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.project-search-m {
  margin: 30px 0;
}

.intro_inner_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.intro_title_page {
  margin: 100px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-project {
  margin-top: 100px;
  font-size: 16px;
  font-weight: 700;
}

.project_page {
  margin-top: 30px;
  color: #111111;
}

.filter-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.filter-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #111111;
  height: 35px;
  padding: 15px 20px;
  border-radius: 25px;
}

.project-page-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-page-card {
  margin-bottom: 50px;
}

.project-page-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

.project-image-page {
  display: block;
  max-height: 235px;
}

.project-image-page img {
  height: 235px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.project-name {
  font-family: "Raleway", sans-serif;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #111111;
}

.profile {
  font-family: "Montserrat", sans-serif;
  background: #111111;
  min-height: 500px;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-sidebar {
  margin-top: 35px;
}

.profile-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.profile-title {
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0;
}

.profile-subtitle {
  font-size: 18px;
  font-weight: 700;
}

.profile-link {
  font-size: 18px;
  padding-bottom: 5px;
  color: #8a8a8a;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile-link:hover {
  color: #FFFFFF;
}

.active-link {
  color: #ffffff;
}

.profile-link.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.profile-data {
  width: 100%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
}

.profile-data-output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #282828;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px 20px;
}

.profile-applications {
  width: 100%;
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

.tb-pro-applica {
  display: table;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.tb-pro-applica tr {
  background-color: #282828;
}

.tb-pro-applica td, .tb-pro-applica th {
  padding: 20px 75px;
  white-space: nowrap;
  text-align: center; /* Добавлено для выравнивания текста по центру */
}

/* Дополнительные классы для цветов статусов */
.status-pending {
  color: yellow;
}

.status-rejected {
  color: red;
}

.status-accepted {
  color: green;
}

.main-add-element {
  font-family: "Montserrat", sans-serif;
  min-height: 100px;
  background-color: #111111;
}

.block-add {
  padding: 100px;
}

.block-inner {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-admin {
  color: #111111;
  padding: 10px 0;
}
.input-admin input {
  background-color: #FFFFFF;
  height: 40px;
  width: 500px;
  padding: 5px 10px;
}

/*Tabel*/
/*Tabel*/
.project-tabel-inner {
  margin: 0 auto;
  overflow: auto;
}

.table-container-project {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table-container-project tr {
  background-color: #282828;
}

.table-container-project td, th {
  text-align: center;
  padding: 30px 25px;
  white-space: nowrap;
}

.img-td {
  width: 100px;
  height: 100px;
}

.tabel-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-log {
  font-family: "Montserrat Alternates", Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  min-height: 100vh;
}

.container-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1020px;
  width: 100%;
  height: 800px;
  background: white;
  border-radius: 15px;
}

.title-welcome {
  color: #111111;
  font-size: 24px;
  font-weight: 700;
}

.img-logo-reg {
  width: 150px;
  height: auto;
}

.login-title-top {
  margin: 25px;
  text-align: center;
}

.err {
  color: #F40000;
}

.form-input-two-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.input-log-reg {
  margin-top: 20px;
}

.input-field {
  font-size: 16px;
  background: #e5e5e5;
  color: #8F8F8F;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 20px;
  border: none;
  border-radius: 15px;
  outline: none;
}

.input-box-left,
.input-box-right {
  margin-top: 20px;
  width: 50%; /* Распределение ширины полей ввода пароля */
}

.input-log {
  margin: 10px 0;
  width: 500px;
}

.input-field:focus {
  color: black;
}

.btn-box-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.submit {
  width: 250px;
  height: 40px;
  padding: 5px 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background: #1C93FF;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-a-reg {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: #111111;
  color: white;
  border-radius: 5px;
}

.project-open {
  font-family: "Montserrat", sans-serif;
  background-color: #111111;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; /* Добавляем flex для управления расположением элементов */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; /* Центрируем содержимое по горизонтали */
}

.project-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
}

.project-poster {
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 300px;
  max-height: 500px;
}

.project-poster-open {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.project_name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.project_subtitle {
  font-size: 18px;
  font-weight: 600;
}

.project-info {
  margin-top: 20px;
}

.project-row-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
  position: relative; /* Добавляем позиционирование для элемента .project-row-subtitle */
}

.project-row-title {
  width: 150px;
  font-size: 14px;
}

.project-row-subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  white-space: nowrap;
}

.project-row-title {
  margin-right: 10px;
  font-size: 18px;
}

.btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  max-width: 400px;
}

/*Проект БЛОК ОПИСАНИЯ И ВИДЕО*/
.project-block-material {
  color: #111111;
  margin-top: 100px;
}

.project-description {
  width: 750px;
  height: auto;
}

.description {
  font-size: 16px;
}

.project-desc-mat {
  display: none;
}

.project-desc-mat.active-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-btn-project {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;
  padding: 10px 0;
  position: relative;
}

.tabs-btn-project:first-child {
  margin-right: 20px;
}

.tabs-btn-project.active-tabs::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1C93FF; /* Замените на цвет вашего акцента */
  position: absolute;
  bottom: 0;
  left: 0;
}

/*ACTORS BLOCK*/
.actors-block {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  margin-top: 100px;
}

.actors_title_block {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.img-actors {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.act-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.actors-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.actors-view {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 25px 25px;
}

.actors_info {
  margin: 10px 0;
}

.actors_info p {
  margin: 5px 0;
}

.frame-project-block {
  margin: 100px 0;
  overflow: hidden;
}

.frame-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; /* Добавьте эту строку */
}

.project-images {
  max-height: 300px;
  width: 25%; /* Для четырех изображений на строку */
  padding: 25px;
}

.gallery-project {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*VIDEO*/
.video {
  width: 100%;
  padding-top: 50%;
  background: #eeeeee url("../../img/icon/play.png") no-repeat center;
  position: relative;
}

.video:hover {
  cursor: pointer;
  background-size: 15%;
}

.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}