@charset "UTF-8";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  display: block;
  max-width: 100%;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 16px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 1290px;
}

.container-wide {
  max-width: 1920px;
  margin-inline: 0;
}

a {
  color: #FFFFFF;
}

.swiper-button-prev, .swiper-button-next {
  color: #111111 !important;
}

.project-home-page {
  padding: 10px 0;
}

.project-home-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  overflow: hidden;
}

.project-a-home img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-slide {
  height: auto !important;
}

.gallery {
  margin-top: 100px;
  margin-bottom: 200px;
}

.tabs_nav {
  margin: 20px 0;
}

.tabs-btn {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;
  padding: 10px 0;
  position: relative;
}

.tabs-btn:first-child {
  margin-right: 20px;
}

.tabs-btn.active-tabs::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1C93FF; /* Замените на цвет вашего акцента */
  position: absolute;
  bottom: 0;
  left: 0;
}

.gallery-tabs-cadr {
  display: none;
}

.gallery-tabs-cadr.active-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.gallery-cadr-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 20px);
          flex: 0 0 calc(25% - 20px);
  margin: 10px 0;
}

.gallery-cadr-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 10px;
}

.gallery-cadr-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*ADAPTIV*/
.gallery-ph {
  margin: 100px 0;
  display: none;
}

.footer {
  color: #FFFFFF;
  min-height: 500px;
  background-color: #111111;
  padding: 150px 0;
}

.DALA_FOOTER {
  text-align: center;
  font-size: 76px;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.social_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_a {
  margin: 40px 50px;
}

.social_icon {
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.news-home-page {
  padding: 110px 0;
}

.news-home-title {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 20px 0;
}

.news-home-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}

.news-item {
  position: relative;
  overflow: hidden;
}

.news-images {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Добавлено для выравнивания текста по центру */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  background-color: rgba(28, 147, 255, 0.75);
  z-index: 2;
}

.news-item:hover .news-content {
  opacity: 1;
}

.news-home-info {
  margin-left: 10px;
  max-width: 600px;
}
.news-home-info p {
  padding: 10px 0;
}

.news-title {
  font-size: 24px;
  font-weight: 700;
}

.news-subtitle {
  max-width: 500px;
}

.btn-inner-news {
  text-align: center;
  margin-top: 50px;
}

.header {
  background-color: #111111;
}

.nav {
  padding: 20px 0;
}

.nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.nav-list-link {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  color: #FFFFFF;
}

.nav-list-link:hover {
  color: #1C93FF;
  font-size: 1.1em;
}

.nav-list-link.nav-link-active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.DALA_LOGO img {
  border-radius: 50%;
}

.burger-dala {
  display: none;
  cursor: pointer;
}

.burger-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.bar {
  height: 3px;
  width: 30px;
  background-color: #FFFFFF;
  margin: 5px 0;
}

.header-admin-menu {
  padding: 50px 0;
  background-color: #111111;
}

.nav-list-menu-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  padding-top: 100px;
  background-color: #111111;
  min-height: 600px;
  font-family: "Montserrat Alternates", sans-serif;
  letter-spacing: 1.5px;
}

.title_block {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.intro_inner {
  margin: 0 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 0;
}

.int_btn {
  margin: 30px 0;
}

/*Filter*/
.filter-project {
  margin: 40px 0;
}

.filter-search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-search-block-project {
  margin-bottom: 15px;
}

.search-block-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  color: #111111;
  background-color: #f7f5f5;
  border-radius: 10px;
}
.search-block-filter input {
  margin-left: 10px;
  width: 100%;
}

.search-block-filter.search-genre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-personal-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-select select {
  margin: 10px 0;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  height: 40px;
  width: 160px;
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: #111111;
}

.filter-button {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 200px;
  font-family: "Montserrat", sans-serif;
}
.pagination .pagination-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #313131;
  height: 32px;
  line-height: 28px;
  min-height: 32px;
  padding: 5px 20px;
}

.pagination-a-active {
  background-color: #dad7d7 !important;
  color: #111111 !important;
}

.pop_up {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.pop_up.active {
  display: block;
}

.pop_up_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.pop_up_body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  width: 700px;
  background-color: #111111;
  border-radius: 10px;
  text-align: center;
  padding: 70px 20px 70px 20px;
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
}

.pop-admin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.pop-role-section {
  margin-bottom: 20px;
}

.pop-role-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pop-role-section label {
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
}
.pop-role-section select {
  margin: 10px 0;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  height: 35px;
  width: 160px;
  padding: 5px 10px;
  background-color: #FFFFFF;
  color: #111111;
}

.pop-section-input-add {
  margin: 10px 0;
  width: 50%;
}
.pop-section-input-add .pop-title-add-element {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.pop-section-input-add input {
  width: 100%;
  border: 1px solid #91a198;
  border-radius: 3px;
  outline: none !important;
  padding: 10px 10px;
}

.pop-section-add-image {
  margin: 20px 0;
}
.pop-section-add-image input[type=file] {
  display: none;
}
.pop-section-add-image .input-label {
  position: relative;
  border: 2px dashed #FFFFFF;
  border-radius: 3px;
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop-section-image .image-output-popup {
  width: 200px;
  height: 200px;
  position: relative;
}
.pop-section-image .img-popup {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.pop-section-image .delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #000000;
  background-color: white; /* Белый фон */
  font-size: 32px; /* размер иконки удаления */
  font-weight: 500;
  border-radius: 25%; /* Для круглой кнопки */
  cursor: pointer; /* изменение формы курсора при наведении */
}

.btn-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.pop_up-images {
  display: block;
  max-width: 100%;
  height: auto;
}

.pop-section-add-image {
  margin: 10px 10px;
}

.table-pop-up-add {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table-pop-up-add tr {
  background-color: #282828;
}

.table-pop-up-add tr, .table-pop-up-add th, .table-pop-up-add td {
  padding: 10px 20px;
  white-space: nowrap;
  text-align: center;
}

.images-td-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.table-pop-up-images {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.add-project {
  padding: 100px;
}

.genre {
  padding: 50px 0;
}

.add-project-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.project-section-info-project {
  margin: 20px 0;
}
.project-section-info-project input {
  width: 100%;
  border: 1px solid #91a198;
  border-radius: 3px;
  outline: none !important;
  padding: 10px 10px;
}
.project-section-info-project textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #91a198;
  border-radius: 3px;
  outline: none !important;
  padding: 10px 10px;
  resize: none;
}

.title-add-element {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.project-section-add-image {
  margin: 20px 0;
}
.project-section-add-image input[type=file] {
  display: none;
}
.project-section-add-image .input-label {
  position: relative;
  border: 2px dashed #FFFFFF;
  border-radius: 3px;
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-section-add {
  margin: 20px 0;
}
.project-section-add button {
  width: 100%;
  min-height: 50px;
  margin: 10px 0;
  padding: 5px 50px;
  border: 1px solid #FFFFFF;
  font-size: 18px;
  font-weight: 600;
}
.project-section-add button:hover {
  background-color: #FFFFFF;
}

.comp_date {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* Change border color as needed */
  border-radius: 4px;
}

.comp_time {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* Change border color as needed */
  border-radius: 4px;
}

.number_seria {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc; /* Change border color as needed */
  border-radius: 4px;
}

.project-sector-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 550px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.check-box-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
}
.check-box-project input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  outline: none;
}
.check-box-project label {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.check-box-project input[type=checkbox]::after {
  position: absolute;
  content: "";
  background-color: #111111;
  height: 20px;
  width: 20px;
  top: calc(50% - 10px); /* половина высоты плюс смещение */
  left: calc(50% - 10px); /* половина ширины плюс смещение */
  border-radius: 5px;
  display: none;
}
.check-box-project input[type=checkbox]:hover {
  background-color: #f1eaea;
}
.check-box-project input[type=checkbox]:checked::after {
  display: block;
}

.input-radio input[type=radio] {
  display: none;
}
.input-radio label {
  position: relative;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input-radio label::before {
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 20px;
}
.input-radio input[type=radio]:checked + label {
  background-color: #FFFFFF;
  color: #111111;
}
.input-radio input[type=radio]:checked + label::before {
  border: 10px solid #111111;
}

.btn41-43 {
  text-decoration: none;
  padding: 10px 50px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-align: center;
}

.btn-41 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-41:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-41:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-41:active {
  top: 2px;
}

.project-section-photo-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project-section-photo-add .btn-add-gallery {
  color: #111111;
  background-color: #FFFFFF;
  padding: 10px 50px;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
}
.project-section-photo-add .btn-add-gallery:hover {
  opacity: 0.9;
}

.pop-up-add-gallery {
  margin: 50px 0;
}
.pop-up-add-gallery p {
  font-size: 18px;
  font-weight: 700;
}

.btn-save-project {
  color: #111111;
  background-color: #FFFFFF;
  padding: 10px 50px;
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
}

.btn-save-project:hover {
  opacity: 0.9;
}

.output-info-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-subtitle-add {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
}

.project-search-m {
  margin: 30px 0;
}

.btn-news {
  text-decoration: none;
  padding: 10px 50px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-align: center;
}

.btn-news {
  border: 2px solid rgb(0, 0, 0);
  z-index: 1;
  color: rgb(0, 0, 0);
}

.btn-news:hover {
  color: rgb(255, 255, 255); /* изменен цвет текста на белый */
}

.btn-news:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(0, 0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-41:hover {
  color: rgb(0, 0, 0);
}

.btn-news:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-news:active {
  top: 2px;
}

.pop_up_film_edit {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.pop_up_film_edit_body {
  font-family: "Montserrat", sans-serif;
  margin: 50px 50px;
  width: 500px;
  background-color: #111111;
  border-radius: 10px;
  text-align: center;
  padding: 70px 20px 70px 20px;
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
}

.pop_edit_add {
  display: none;
  position: fixed;
  right: 50px;
  top: 50px;
  z-index: 3;
}

.pop_up_body_add {
  font-family: "Montserrat", sans-serif;
  margin: auto;
  width: 550px;
  background-color: #111111;
  border-radius: 10px;
  text-align: center;
  padding: 70px 20px 70px 20px;
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
}

@media (min-width: 856px) {
  .project-row-title {
    width: 150px;
  }
}
@media (max-width: 1280px) {
  /*homepage*/
  .news-home-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news-home-title {
    text-align: center;
  }
  .news-title {
    font-size: 20px !important;
  }
  /*page-list-project*/
  .project-element {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1024px) {
  /*homepage*/
  .gallery {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .gallery-tabs-cadr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery-cadr-content {
    max-width: 90% !important;
    height: auto;
  }
  .gallery-cadr-img:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (max-width: 856px) {
  .project-poster-left-block {
    margin-top: 100px;
  }
  .project_name {
    margin: 10px 0;
  }
  .project-elements {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-details-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-row-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
  }
  .project-row-title {
    font-size: 16px !important;
  }
  .project-row-subtitle {
    font-size: 16px !important;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
@media (max-width: 767px) {
  /*homepage*/
  .nav-list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 10px 0 25px;
  }
  .nav-list-link {
    font-size: 16px;
  }
  .burger-dala {
    display: block;
    padding: 0 35px;
  }
  .intro_inner {
    margin-top: 70px;
  }
  .gallery {
    display: none;
  }
  .gallery-ph {
    display: block;
  }
  .DALA_FOOTER {
    font-size: 36px !important;
  }
  .project-images {
    width: 100% !important;
  }
}
@media (max-width: 500px) {
  /*homepage*/
  .intro_inner {
    margin-top: 70px;
  }
  .intro_title {
    font-size: 20px;
  }
  .news-images {
    height: 200px !important;
  }
  .news-title {
    font-size: 18px !important;
  }
  .pagination-a {
    padding: 5px 10px !important;
  }
}
.intro_inner_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.intro_title_page {
  margin: 100px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-project-p {
  margin: 50px 0;
}

.filter-project {
  font-size: 16px;
  font-weight: 700;
}

.filter-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.filter-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #FFFFFF;
  background-color: #111111;
  height: 35px;
  padding: 15px 20px;
  border-radius: 25px;
}

.filter-li-active {
  background-color: #e7e7e7 !important;
  color: #111111 !important;
}

.project-page {
  color: #111111;
}

.project-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-item {
  color: #111111;
  margin-bottom: 25px;
}

.project-info-element {
  padding: 10px 0;
}
.project-info-element p {
  font-size: 16px;
  font-weight: 700;
}

.project-images-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.search-list-result {
  position: relative;
}

.search-list-item {
  margin-bottom: 10px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  background-color: #f7f5f5 !important;
  color: #111111 !important;
}
.search-list-item a {
  color: #111111 !important;
}

.search-list-item:hover {
  background-color: #e7e7e7 !important;
}

.profile {
  font-family: "Montserrat", sans-serif;
  background: #111111;
  min-height: 500px;
}

.profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-sidebar {
  margin-top: 35px;
}

.profile-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.profile-title {
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0;
}

.profile-subtitle {
  font-size: 18px;
  font-weight: 700;
}

.profile-link {
  font-size: 18px;
  padding-bottom: 5px;
  color: #8a8a8a;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.profile-link:hover {
  color: #FFFFFF;
}

.active-link {
  color: #ffffff;
}

.profile-link.active-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.profile-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
}

.profile-data-output {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #282828;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px 20px;
}

.profile-applications {
  margin: 0 auto;
  margin-top: 100px;
}

.tb-pro-applications {
  display: table;
  border-collapse: separate;
  border-spacing: 0 10px;
  table-layout: fixed;
  text-align: center;
}

.tb-pro-applications tr {
  background-color: #282828;
}

.tb-pro-applications td, .tb-pro-applications th {
  padding: 20px 75px;
  white-space: nowrap;
}

.status-pending {
  color: yellow;
}

.status-rejected {
  color: red;
}

.status-accepted {
  color: green;
}

.main-add-element {
  font-family: "Montserrat", sans-serif;
  min-height: 100px;
  background-color: #111111;
}

.block-add {
  padding: 100px;
}

.block-inner {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-admin {
  color: #111111;
  padding: 10px 0;
}
.input-admin input {
  background-color: #FFFFFF;
  height: 40px;
  width: 500px;
  padding: 5px 10px;
}

/*table*/
.project-table-inner {
  margin: 0 auto;
  overflow: auto;
}

.table-container-project {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table-container-project tr {
  background-color: #282828;
}

.table-container-project td, th {
  text-align: center;
  padding: 30px 25px;
  white-space: nowrap;
}

.img-td {
  width: 100px;
  height: 100px;
}

.table-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-log {
  font-family: "Montserrat Alternates", Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
  min-height: 100vh;
}

.container-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1020px;
  width: 100%;
  height: 800px;
  background: white;
  border-radius: 15px;
}

.title-welcome {
  color: #111111;
  font-size: 24px;
  font-weight: 700;
}

.img-logo-reg {
  width: 150px;
  height: auto;
}

.login-title-top {
  margin: 25px;
  text-align: center;
}

.err {
  color: #F40000;
}

.form-input-two-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.input-log-reg {
  margin-top: 20px;
}

.input-field {
  font-size: 16px;
  background: #e5e5e5;
  color: #8F8F8F;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 20px;
  border: none;
  border-radius: 15px;
  outline: none;
}

.input-box-left,
.input-box-right {
  margin-top: 20px;
  width: 50%; /* Распределение ширины полей ввода пароля */
}

.input-log {
  margin: 10px 0;
  width: 500px;
}

.input-field:focus {
  color: black;
}

.btn-box-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.submit {
  width: 250px;
  height: 40px;
  padding: 5px 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  background: #1C93FF;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-a-reg {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: #111111;
  color: white;
  border-radius: 5px;
}

/*Project Block Info Main*/
.project-info {
  background-color: #111111;
}

.project-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.project-poster-left-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
}

.film-poster {
  -o-object-fit: cover;
     object-fit: cover;
}

.project-details-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px;
}

.project_name {
  font-size: 24px;
  font-weight: 700;
}

.project-row-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-row-title {
  font-size: 18px;
  font-weight: 700;
}

.project-row-subtitle {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 18px;
  white-space: nowrap;
}

.btn-block {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

/*Проект БЛОК ОПИСАНИЯ И ВИДЕО*/
.project-block-material {
  color: #111111;
  margin-top: 100px;
}

.project-description {
  width: 750px;
  height: auto;
}

.description {
  font-size: 16px;
}

.project-desc-mat {
  display: none;
}

.project-desc-mat.active-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs-btn-project {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #111111;
  padding: 10px 0;
  position: relative;
}

.tabs-btn-project:first-child {
  margin-right: 20px;
}

.tabs-btn-project.active-tabs::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1C93FF; /* Замените на цвет вашего акцента */
  position: absolute;
  bottom: 0;
  left: 0;
}

/*ACTORS BLOCK*/
.actors-block {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  margin-top: 100px;
}

.actors_title_block {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.img-actors {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.act-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.actors-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.actors-view {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 25px 25px;
}

.actors_info {
  margin: 10px 0;
}

.actors_info p {
  margin: 5px 0;
}

.frame-project-block {
  margin: 100px 0;
  overflow: hidden;
}

.frame-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-images {
  max-height: 500px;
  padding: 25px;
}

.gallery-project {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*VIDEO*/
.video {
  width: 100%;
  padding-top: 50%;
  background: #eeeeee url("../../img/icon/play.png") no-repeat center;
  position: relative;
}

.video:hover {
  cursor: pointer;
  background-size: 15%;
}

.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.view-application {
  padding: 100px;
  background-color: #111111;
}

.table-application {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table-application tr {
  background-color: #282828;
}

.table-application th, td {
  text-align: center;
  padding: 30px 25px;
  white-space: nowrap;
}

.application-btn {
  font-weight: 700;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.application-btn:hover {
  color: #1C93FF;
}

.select-application select {
  color: #111111;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
}

.table-application-title {
  font-size: 16px;
  font-weight: 500;
}

/*POP UP вывод*/
.pop_up-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.pop_up_container_application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.pop-up-application-output-info {
  width: 50%;
}

.subtitile-application-info {
  font-size: 18px;
  font-weight: 500;
}

.info-application {
  color: #111111;
  background-color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  padding: 10px 0;
}

/*Submission Application*/
.submit-application {
  background-color: #111111;
  font-family: "Raleway", sans-serif;
  padding: 100px;
}

.sbt-application-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sbt-application-info {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.sbt-application-info label {
  font-size: 18px;
  font-weight: 500;
}
.sbt-application-info input {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  height: 30px;
  width: 450px;
  padding: 20px 15px;
}
.sbt-application-info select {
  background-color: #FFFFFF;
  color: #111111;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 10px;
}
.sbt-application-info select:focus {
  outline: none;
}

.btn-application {
  display: block;
  font-size: 18px;
  color: #111111;
  background-color: white;
  padding: 10px;
}

.btn-application:hover {
  opacity: 0.8;
}

.profile-actors {
  background-color: #111111;
  min-height: 500px;
}

.profile-actors-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  max-width: 100%;
  margin-top: 100px;
}

.profile-actors-left img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}