.main-add-element{
    font-family: $font-accent-two;
    min-height: 100px;
    background-color: $dark;
}


.block-add{
    padding: 100px;
}

.block-inner{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.block-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-admin{
    color: $dark;
    padding: 10px 0;
    input{
        background-color: $white;
        height: 40px;
        width: 500px;
        padding: 5px 10px;
    }
}

/*Tabel*/
/*Tabel*/
.project-tabel-inner{
    margin: 0 auto; 
    overflow: auto;
}

.table-container-project{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table-container-project tr{
    background-color: #282828;
}

.table-container-project td, th{
    text-align: center;
    padding: 30px 25px;   
    white-space: nowrap;
}

.img-td{
    width: 100px;
    height: 100px;
}

.tabel-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}