.block-add{
    font-family: $font-accent-two;
    padding-top: 100px;
    background-color: $dark;
}

.admin-block-add-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Input CSS*/

.input-block{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}

.input-genre{
    background-color: $white;
    color: $dark;
    height: 35px;
    padding: 10px 10px;
    margin: 10px 0;
}

/*Таблица*/
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 50px; /* Уменьшим верхний отступ */
    overflow-x: auto; 
    width: 100%; 
}

.tabel-admin{
    display: table;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.tabel-admin tr{
    background-color: #282828;
}

.tabel-admin tr, .tabel-admin th, .tabel-admin td{
    padding: 25px 35px;
    white-space: nowrap; 
    text-align: center; /* Добавлено для выравнивания текста по центру */
}

.tabel-admin input{
    text-align: center;
}


/*Button Style*/
.btn-add{
    width: 300px;
    border: 1px solid $white;
    padding: 10px 15px;
    align-self: center;
}