.profile{
    font-family: $font-accent-two;
    background: $dark;
    min-height: 500px;
}

.profile-container{
    display: flex;
}

.profile-sidebar{
    margin-top: 35px;
}

.profile-ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-title{
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}

.profile-subtitle{
    font-size: 18px;
    font-weight: 700;
}

.profile-link{
    font-size: 18px;
    padding-bottom: 5px;
    color: #8a8a8a;
    position: relative;
    transition: all 0.3s ease; 
}

.profile-link:hover{
    color: $white;
}

.active-link {
    color: #ffffff; 
}

.profile-link.active-link::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $white; 
    position: absolute;
    bottom: 0px;
    left: 0;
}

.profile-data{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}


.profile-data-output{
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    border-radius: 5px;
    margin: 10px 0;
    padding: 20px 20px;
}

.profile-applications{
    margin: 0 auto;
    margin-top: 100px;
}

.tb-pro-applica{
    display: table;
    border-collapse: separate;
    border-spacing: 0 10px;
    table-layout: fixed;
    text-align: center; 
}

.tb-pro-applica tr{
    background-color: #282828;
}

.tb-pro-applica td, .tb-pro-applica th {
    padding: 20px 75px;
    white-space: nowrap; 
}


    .status-pending {
        color: yellow;
    }

    .status-rejected {
        color: red;
    }

    .status-accepted {
        color: green;
    }

