.filter-project-p{
    margin: 50px 0;
}

.filter-project{
    font-size: 16px;
    font-weight: 700;
}

.filter-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-li{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: $white;
    background-color: $dark;
    height: 35px;
    padding: 15px 20px;
    border-radius: 25px;
}

.filter-li-active{
    background-color: #e7e7e7 !important;
    color: $dark !important;
}

.project-page{
    color: $dark;
}

.project-element{
    display: flex;   
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-item{
    color: $dark;
    margin-bottom: 25px;
}

.project-info-element{
    padding: 10px 0;
    p{
        font-size: 16px;
        font-weight: 700;
    }
}

.project-images-item img{
    object-fit: cover;
}

.search-list-result{
    position: relative;
}

.search-list-item{
 margin-bottom: 10px;
 margin-top: 5px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 15px;
 background-color: #f7f5f5 !important;
 color: $dark !important;
 a{
    color: $dark !important;
 }
}
.search-list-item:hover{
    background-color: #e7e7e7 !important;
}
