.profile{
    font-family: $font-accent-two;
    background: $dark;
    min-height: 500px;
}

.profile-container{
    display: flex;
}

.profile-sidebar{
    margin-top: 35px;
}

.profile-ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-title{
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
}

.profile-link{
    font-size: 18px;
    padding-bottom: 5px;
    position: relative;
}

.profile-link.active-link::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $white; /* использование переменной */
    position: absolute;
    bottom: 0px;
    left: 0;
}

.profile-data{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
}


.profile-data-output{
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px 20px;
}

.profile-applications{
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

.tb-pro-applica{
    display: table;
    border-collapse: separate;
    border-spacing: 0 10px;
    
}

.tb-pro-applica tr{
    background-color: #282828;
}

.tb-pro-applica td, .tb-pro-applica th {
    padding: 20px 75px;
    white-space: nowrap; 
    text-align: center; /* Добавлено для выравнивания текста по центру */
}

 /* Дополнительные классы для цветов статусов */
    .status-pending {
        color: yellow;
    }

    .status-rejected {
        color: red;
    }

    .status-accepted {
        color: green;
    }