.project-open {
    font-family: $font-accent-two;
    background-color: $dark;
    padding: 50px 0;
    display: flex; /* Добавляем flex для управления расположением элементов */
    justify-content: center; /* Центрируем содержимое по горизонтали */
}


.project-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-inner {
    display: flex; /* Делаем внутренний блок flex для управления расположением элементов */
    max-width: 1200px; /* Максимальная ширина контейнера */
    align-items: stretch; /* Это обеспечит растяжение содержимого по высоте */
}

.project-poster {
    margin-right: 20px;
}

.project-poster-open {
    height: 400px;
    width: auto; 
}

.project_name{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.project_subtitle{
    font-size: 18px;
    font-weight: 600;
}

.project-info{
    margin-top: 20px;
}

.project-row-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Это разместит элементы в одной строке и разделит пространство между ними */
    align-items: center; /* Выравнивание элементов по центру */
    margin-top: 15px;
}

.btn-block{

}

.sumb-applic {
    border: 1px solid $white;
    font-size: 18px;
    padding: 10px 20px; 
    background-color: transparent; 
    color: $white; 
}

.sumb-applic:hover {
    background-color: $white; /* Изменяем фон кнопки при наведении */
    color: $dark; /* Изменяем цвет текста при наведении */
}

.project-description{
    color: $dark;
    margin-top: 100px;
}

.actors-block{
    font-family: $font-accent-two;
    color: $dark;
    margin-top: 100px;
}

.img-actors{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; 
}
.act-img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.actors-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.actors-view{
    align-items: center;
    text-align: center;
    margin: 25px 25px;
}

.actors_info{
    margin: 10px 0;
}

.actors_info p {
    margin: 5px 0;
}


.frame-project-block{
    margin-top: 100px;
}

.frame-item{
    display: flex;
    justify-content: space-between;
}


/*VIDEO*/
.video{
    width: 100%;
    padding-top: 50%;
    background: #eeeeee url('../../img/icon/play.png') no-repeat center;
    position: relative;
}

.video:hover{
    cursor: pointer;
    background-size: 15%;
}

.video iframe{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}