.project-open {
    font-family: $font-accent-two;
    background-color: $dark;
    padding: 50px 0;
    display: flex; /* Добавляем flex для управления расположением элементов */
    justify-content: center; /* Центрируем содержимое по горизонтали */
}

.project-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-inner {
    display: flex; 
    max-width: 1200px; 
}

.project-poster {
    margin-right: 20px;
    flex-shrink: 0; 
    max-width: 300px;
    max-height: 500px; 
}

.project-poster-open {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.project_name{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.project_subtitle{
    font-size: 18px;
    font-weight: 600;
}

.project-info{
    margin-top: 20px;
}

.project-row-info {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    margin: 20px 0;
    position: relative; /* Добавляем позиционирование для элемента .project-row-subtitle */
}

.project-row-title{
    width: 150px;
    font-size: 14px;
}

.project-row-subtitle {
    flex: 1;
    font-size: 18px;
    white-space: nowrap;
}

.project-row-title {
    margin-right: 10px;
    font-size: 18px;
}

.btn-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
}

/*Проект БЛОК ОПИСАНИЯ И ВИДЕО*/
.project-block-material{
    color: $dark;
    margin-top: 100px;
}

.project-description{
    width: 750px;
    height: auto;
}

.description{
    font-size: 16px;
}

.project-desc-mat {
    display: none;
}

.project-desc-mat.active-tabs {
    display: flex;
}

.tabs-btn-project{
    font-family: $font-accent;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    padding: 10px 0;
    position: relative;
}

.tabs-btn-project:first-child{
    margin-right: 20px;
}

.tabs-btn-project.active-tabs::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $blue; /* Замените на цвет вашего акцента */
    position: absolute;
    bottom: 0;
    left: 0;
}

/*ACTORS BLOCK*/
.actors-block{
    font-family: $font-accent-two;
    color: $dark;
    margin-top: 100px;
}

.actors_title_block{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.img-actors{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; 
}
.act-img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
}

.actors-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.actors-view{
    align-items: center;
    text-align: center;
    margin: 25px 25px;
}

.actors_info{
    margin: 10px 0;
}

.actors_info p {
    margin: 5px 0;
}


.frame-project-block{
    margin: 100px 0;
    overflow: hidden;
}

.frame-item{
    display: flex;
    justify-content: space-between;
    width: 100%; /* Добавьте эту строку */
}

.project-images{
    max-height: 300px;
    width: calc(100% / 4); /* Для четырех изображений на строку */
    padding: 25px;
}

.gallery-project{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*VIDEO*/
.video{
    width: 100%;
    padding-top: 50%;
    background: #eeeeee url('../../img/icon/play.png') no-repeat center;
    position: relative;
}

.video:hover{
    cursor: pointer;
    background-size: 15%;
}

.video iframe{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

