.gallery{
    margin-top: 100px;
    margin-bottom: 200px;
}

.tabs_nav{
    margin: 20px 0;
}

.tabs-btn{
    font-family: $font-accent;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    padding: 10px 0;
    position: relative;
}

.tabs-btn:first-child{
    margin-right: 20px;
}

.tabs-btn.active-tabs::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $blue; /* Замените на цвет вашего акцента */
    position: absolute;
    bottom: 0;
    left: 0;
}

.gallery-tabs-cadr{
    display: none;
}

.gallery-tabs-cadr.active-tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.gallery-cadr-content{
    flex: 0 0 calc(25% - 20px);
    margin: 10px 0; 
}

.gallery-cadr-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

.gallery-cadr-img:hover{
    transform: scale(1.1);
}


/*ADAPTIV*/
.gallery-ph{
    margin: 100px 0;
    display: none;
}


