.add-project{
    padding: 100px;
}


.add-project-inner{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.project-section-info-project{
    margin: 20px 0;
    input{
        width: 100%;
        border: 1px solid #91a198;
        border-radius: 3px;
        outline: none !important;
        padding: 10px 10px;
    };
    textarea{
        width: 100%;
        height: 100px;
        border: 1px solid #91a198;
        border-radius: 3px;
        outline: none !important;
        padding: 10px 10px;
        resize: none;
    }
}


.title-add-element{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.project-section-add-image{
    margin: 20px 0;
    input[type="file"] {
        display: none;
    }
    .input-label{
        position: relative;
        border: 2px dashed $white;
        border-radius: 3px;
        padding: 10px 50px;
        display: flex;
        align-items: center;
    }
}


.project-section-add{
    margin: 20px 0;
    button{
        width: 100%;
        min-height: 50px;
        margin: 10px 0;
        padding: 5px 50px;
        border: 1px solid $white;
        font-size: 18px;
        font-weight: 600;
    }
    button:hover{
        background-color: $white;
    }
}

.comp_date{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; /* Change border color as needed */
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    font-size: 16px;
}

.input-radio{
    input[type="radio"]{
        display: none;
    }
    
    label{
        position: relative;
        border: 2px solid white;
        border-radius: 5px;
        padding: 10px 50px;
        display: flex;
        align-items: center;
    }

    label::before{
        content: "";
        height: 30px;
        width: 30px;
        border: 3px solid $white;
        border-radius: 50%;
        margin-right: 20px;
    }
    input[type="radio"]:checked + label{
        background-color: $white;
        color: $dark;
    }
    input[type="radio"]:checked + label::before{
        border: 10px solid $dark;
    }
}

.btn41-43 {
    text-decoration: none;
    padding: 10px 50px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
.btn-41 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
.btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-41:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .btn-41:active {
    top: 2px;
  }

  