.add-project {
    padding: 100px;
}

.genre{
    padding: 50px 0 ;
}

.add-project-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-section-info-project{
    margin: 20px 0;
    input{
        width: 100%;
        border: 1px solid #91a198;
        border-radius: 3px;
        outline: none !important;
        padding: 10px 10px;
    };
    textarea{
        width: 100%;
        height: 100px;
        border: 1px solid #91a198;
        border-radius: 3px;
        outline: none !important;
        padding: 10px 10px;
        resize: none;
    }
}


.title-add-element{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.project-section-add-image{
    margin: 20px 0;
    input[type="file"] {
        display: none;
    }
    .input-label{
        position: relative;
        border: 2px dashed $white;
        border-radius: 3px;
        padding: 10px 50px;
        display: flex;
        align-items: center;
    }
}

.project-section-add{
    margin: 20px 0;
    button{
        width: 100%;
        min-height: 50px;
        margin: 10px 0;
        padding: 5px 50px;
        border: 1px solid $white;
        font-size: 18px;
        font-weight: 600;
    }
    button:hover{
        background-color: $white;
    }
}

.comp_date{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; /* Change border color as needed */
    border-radius: 4px;
}

.comp_time{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; /* Change border color as needed */
    border-radius: 4px;
}

.number_seria{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; /* Change border color as needed */
    border-radius: 4px;
}

.project-sector-checkbox{
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.check-box-project{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    input[type="checkbox"]{
        appearance: none;
        -webkit-appearance: none;
        height: 40px;
        width: 40px;
        background-color: $white;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        outline: none;
    }
    label{
        margin-left: 10px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;


    }
    input[type="checkbox"]::after{
        position: absolute;
        content: "";
        background-color: $dark;
        height: 20px;
        width: 20px;
        top: calc(50% - 10px); /* половина высоты плюс смещение */
        left: calc(50% - 10px); /* половина ширины плюс смещение */
        border-radius: 5px;
        display: none;
    }
    input[type="checkbox"]:hover{
        background-color: #f1eaea;
    }
    input[type="checkbox"]:checked::after{
        display: block;
    }
}


.input-radio{
    input[type="radio"]{
        display: none;
    }
    
    label{
        position: relative;
        border: 2px solid white;
        border-radius: 5px;
        padding: 10px 50px;
        display: flex;
        align-items: center;
    }

    label::before{
        content: "";
        height: 30px;
        width: 30px;
        border: 3px solid $white;
        border-radius: 50%;
        margin-right: 20px;
    }
    input[type="radio"]:checked + label{
        background-color: $white;
        color: $dark;
    }
    input[type="radio"]:checked + label::before{
        border: 10px solid $dark;
    }
}

.btn41-43 {
    text-decoration: none;
    padding: 10px 50px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
.btn-41 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }
  
.btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
  .btn-41:hover {
    color: rgb(0, 0, 0);
  }
  
  .btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  .btn-41:active {
    top: 2px;
  }

.project-section-photo-add{
    display: flex;
    flex-direction: column;
    .btn-add-gallery{
        color: $dark;
        background-color: $white;
        padding: 10px 50px;
        font-weight: 500;
        font-size: 18px;
        margin: 10px 0;
        cursor: pointer;
    } 
    .btn-add-gallery:hover{
        opacity: 0.9;
    }
}

.pop-up-add-gallery{
    margin: 50px 0;
    p{
        font-size: 18px;
        font-weight: 700;
    }
}

.btn-save-project{
    color: $dark;
    background-color: $white;
    padding: 10px 50px;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
}

.btn-save-project:hover{
    opacity: 0.9;
}

/*Filter*/

.filter-search-block {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.search-block-filter{
    width: 500px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: $dark;
    background-color: #f7f5f5;
    border-radius: 10px;
    input{
        margin-left: 10px;
    }
}

.search-block-filter.search-genre{
    display: flex;
    justify-content: space-between;
}

.filter-personal-inner{
    display: flex;
    justify-content: space-between;
}

.filter-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-select{
    select{
        margin: 10px 0;
        border: 1px solid $white;
        border-radius: 3px;
        height: 40px;
        width: 160px;
        padding: 5px 10px;
        background-color: $white;
        color: $dark;
    }
}

.filter-button{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.output-info-add{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-subtitle-add{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.project-search-m{
    margin: 30px 0;
}

.btn-news {
    text-decoration: none;
    padding: 10px 50px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .btn-news {
    border: 2px solid rgb(0, 0, 0);
    z-index: 1;
    color: rgb(0, 0, 0);
}

.btn-news:hover {
    color: rgb(255, 255, 255); /* изменен цвет текста на белый */
}

.btn-news:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.btn-41:hover {
    color: rgb(0, 0, 0);
}

.btn-news:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.btn-news:active {
    top: 2px;
}
