.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 85px;
    background-color: $dark;
    padding-top: 15px;
    font-weight: 700;
}

.header_top_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img{
    max-height: 55px;
}