.intro{
    padding-top: 100px;
    background-color: $dark;
    min-height: 600px;
    font-family: $font-main;
    letter-spacing: 1.5px;
}

.title_block{
    font-family: $font-accent;
    font-size: 32px;
    font-weight: 700;
    color: $dark;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.intro_inner{
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.intro_title{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}

.int_btn{
    margin: 30px 0;
}